header div{
    margin-top: 40px;
    font-weight: 500;
    letter-spacing: 0.025rem;
}

header div span:first-child{
    margin-left: 150px;
}

header div span + span{
    margin-left: 75px;
}

header div span:last-child::after {
    content: "";
  }

.seta{
    width: 16.36px;
    height: 10px;
    color: black;
}
.seta:hover{
    color: rgb(81, 3, 226);
}