body{
    display: grid;
    grid-template-areas: 
        "aside header"
        "aside main"
        "aside footer";
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 15vh 70vh 15vh;
        font-family: 'Inter', sans-serif;
        background: #EFEFEF;
}

header{
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr auto;
}

main{
    grid-area: main;
    display: grid;
    grid-template-columns: .91fr 1fr 160px;
}

aside{
    grid-area: aside;
    background-color: grey;
}

footer{
    grid-area: footer;
    background-color: green;
}