body{
    display: grid;
    grid-template-areas: 
        "aside header"
        "aside main"
        "aside footer";
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 15vh 70vh 15vh;
        font-family: 'Inter', sans-serif;
        background: #EFEFEF;
}

header{
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr auto;
}

main{
    grid-area: main;
    display: grid;
    grid-template-columns: .90fr 1fr 160px;
}

aside{
    grid-area: aside;
    background: linear-gradient(
    174.44deg,
    rgba(11, 11, 11, 0.95) -0.36%,
    rgba(13, 13, 13, 0.855) 104.09%
  );
    background-blend-mode: darken;
    display: grid;
    grid-template-rows: 1fr auto;
}

footer{
    grid-area: footer;
    
    display: flex;
    
    
}